.admin-login {
    width: 100%;
    min-height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
}

.admin-login-card {
    width: 100%;
    max-width: content;

    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.admin-login-logo {
    width: 90px;
    height: 90px;
    object-fit: contain;
}


button:active {
    background-color: var(--color-secondary);
}